*{
   margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: skyblue;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color:#111 ;

}

.red{
  background-color: pink;
  text-wrap: balance;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 50px auto;
}
.red h1{
  margin-bottom: 10px;
  font-size: 20px;
  color: yellow;
}
.red p{
  font-size: 16px;
  line-height: 1.5;
  color: black;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav{
  background-color: crimson;
  padding: 15px 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);

}